<input type="text" class="form-control w-25 p-1" #diaSemana>
<button (click)="dia = diaSemana.value" class="btn btn-danger mt-2">
    Verificar
</button>

<div [ngSwitch]="dia" *ngIf="dia">
    <span *ngSwitchCase="'1'">lunes</span>
    <span *ngSwitchCase="'2'">martes</span>
    <span *ngSwitchCase="'3'">miercoles</span>
    <span *ngSwitchCase="'4'">jueves</span>
    <span *ngSwitchCase="'5'">viernes</span>
    <span *ngSwitchCase="'6'">sabado</span>
    <span *ngSwitchCase="'7'">domingo</span>
    <span *ngSwitchDefault>Valor no valido</span>
</div>