<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body class="m-4">
  <h1>{{title}} comienza...</h1>
  <!-- <p>{{bye}} Yo.</p> -->
  <!-- <app-empleados></app-empleados> -->
  <!-- <app-contador></app-contador> -->
  <!-- <app-botones></app-botones> -->
  <app-formulario-reactivo></app-formulario-reactivo>
</body>
</html>
