<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body class="m-4">
  <h2>Componente padre</h2>
  <p>{{title}}</p>
  <!-- <p>{{bye}} Yo.</p> -->
  <!-- <app-empleados></app-empleados> -->
  <!-- <app-contador></app-contador> -->
  <!-- <app-botones></app-botones> -->
  <input type="text" class="form-control" [(ngModel)]="title">
  <hr>
  <app-children [(title)]="title"></app-children>
</body>
</html>

<!-- 
  ! title="{{title}}" == [title]="title"

  * [(title)]="title" == [title]="title" (titleChange)="title = $event"
-->
